<div class="inner-box game-tile">
  {{#link-to 'games.game' game.id game.api_id}}
    <h3>{{game.name}}</h3>
  {{/link-to}}
  {{#if currentPlayer.curPlayer}}
    {{#if ownsGame}}
    <p {{action 'lostGame' game}}>
      <span class="glyphicon glyphicon-minus"></span>
      Mark as no longer owned
    </p>
    {{else}}
      <p {{action 'ownGame' game}}>
        <span class="glyphicon glyphicon-plus"></span>
        Mark as owned
      </p>
    {{/if}}
  {{/if}}
</div>
