<div class="outer-box">
  <div class="inner-box">
    <div id="welcome" class="banner">
      <h2>Welcome!</h2>
    </div>
    <p>
      lorem ipsum blah blah charmander winter is coming so say we all.
    </p>
  </div>
</div>
