<div class="outer-box">
  <div class="inner-box">
    <div id="welcome" class="banner">
      <h2>Welcome!</h2>
    </div>
    <p>
      <br>
      Join us every other Wednesday to play good board games with friends. Bring games you'd like to play, or request games you don't have. All are welcome regardless of boardgame experience! To get started, just {{#link-to 'login'}}sign up{{/link-to}}.
    </p>
    <p>
      Please note: There is a hard ban on Monopoly.
    </p>
  </div>
</div>
