<div class="tile outer-box">
  <div class="purple-accent pull-left">
    <div class="white-accent">
    </div>
  </div>
  <div>
    {{#link-to 'index.session' session.id}}
      <h3>{{moment-format session.date 'LL'}}</h3>
      <h4>{{session.title}}</h4>
    {{/link-to}}
    <button class="glyphicon glyphicon-remove" {{action 'delete1' session}}></button>
  </div>
</div>
