<div class="row">
  <div class="col-md-6">
    <div class="outer-box">
      <div class="banner">
        <h2>Games:</h2>
      </div>
      {{#each model as |game|}}
        {{game-tile game=game ownGame='ownGame' lostGame='lostGame'}}
      {{/each}}
    </div>
    {{new-game newGame='newGame'}}
  </div>
  <div class="col-md-6">
    {{outlet}}
  </div>
</div>
