<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="outer-box">
      <div class="banner">
        <h2>Games:</h2>
      </div>

      {{#each model as |game|}}
        {{game-tile game=game ownGame='ownGame' lostGame='lostGame'}}
      {{/each}}


    </div>

    <div>
      {{outlet}}
    </div>

  </div>
</div>
