<div class=" col col-md-6">
  {{session-welcome}}

  {{#each model.sessions as |session|}}
    {{session-tile session=session delete2='delete3' updateForm4="updateForm5"}}
  {{/each}}
</div>
<div class="col col-md-6">
  <div>
    {{outlet}}
  </div>
</div>




{{new-event newSession='newSession'}}
