<h3>New to Super Awesome Board Game Session Night Thing?? Sign up here!</h3>
{{signup-form users=model submitSignup='submitSignup'}}
<h3>Already a Super Awesome Board Game Session Night Thing Member? Log in here!</h3>
{{login-form submitLogin='submitLogin'}}
