<div class="row">
  <div class="col-md-6">
    <div class="outer-box">
      <div class="banner">
        <h2>Players</h2>
      </div>
      {{#each model as |player|}}
        {{player-tile player=player}}
      {{/each}}

    </div>
  </div>
  <div class="col-md-6">
    {{outlet}}
  </div>
</div>
